data/
embeddings/
*.DS_Store
.texpadtmp/README.synctex.gz
.texpadtmp/#README.log#
.texpadtmp/README.aux
.texpadtmp/README.log
.texpadtmp/README.out
experiments/__pycache__/sppmimodel.cpython-36.pyc
experiments/__pycache__/relation.cpython-36.pyc
ac_journals_data/
.DS_Store
