data/data/tvg_01.txt
data/data/tvg_02.txt
data/data/tvg_03.txt
data/data/tvg_04.txt
data/data/tvg_05.txt
data/data/tvg_06.txt
data/data/tvg_07.txt
data/data/tvg_08.txt
data/data/tvg_09.txt
data/data/tvg_10.txt
data/data/tvg_100.txt
data/data/tvg_101.txt
data/data/tvg_102.txt
data/data/tvg_103.txt
data/data/tvg_104.txt
data/data/tvg_105.txt
data/data/tvg_106.txt
data/data/tvg_107.txt
data/data/tvg_108.txt
data/data/tvg_109.txt
data/data/tvg_11.txt
data/data/tvg_110.txt
data/data/tvg_111.txt
data/data/tvg_112.txt
data/data/tvg_113.txt
data/data/tvg_114.txt
data/data/tvg_115.txt
data/data/tvg_116.txt
data/data/tvg_117.txt
data/data/tvg_118.txt
data/data/tvg_119.txt
data/data/tvg_12.txt
data/data/tvg_120.txt
data/data/tvg_121.txt
data/data/tvg_122.txt
data/data/tvg_13.txt
data/data/tvg_14.txt
data/data/tvg_15.txt
data/data/tvg_16.txt
data/data/tvg_17.txt
data/data/tvg_18.txt
data/data/tvg_19.txt
data/data/tvg_20.txt
data/data/tvg_21.txt
data/data/tvg_22.txt
data/data/tvg_23.txt
data/data/tvg_24.txt
data/data/tvg_25.txt
data/data/tvg_26.txt
data/data/tvg_27.txt
data/data/tvg_28.txt
data/data/tvg_29.txt
data/data/tvg_30.txt
data/data/tvg_31.txt
data/data/tvg_32.txt
data/data/tvg_33.txt
data/data/tvg_34.txt
data/data/tvg_35.txt
data/data/tvg_36.txt
data/data/tvg_37.txt
data/data/tvg_38.txt
data/data/tvg_39.txt
data/data/tvg_40.txt
data/data/tvg_41.txt
data/data/tvg_42.txt
data/data/tvg_43.txt
data/data/tvg_44.txt
data/data/tvg_45.txt
data/data/tvg_46.txt
data/data/tvg_47.txt
data/data/tvg_48.txt
data/data/tvg_49.txt
data/data/tvg_50.txt
data/data/tvg_51.txt
data/data/tvg_52.txt
data/data/tvg_53.txt
data/data/tvg_54.txt
data/data/tvg_55.txt
data/data/tvg_56.txt
data/data/tvg_57.txt
data/data/tvg_58.txt
data/data/tvg_59.txt
data/data/tvg_60.txt
data/data/tvg_61.txt
data/data/tvg_62.txt
data/data/tvg_63.txt
data/data/tvg_64.txt
data/data/tvg_65.txt
data/data/tvg_66.txt
data/data/tvg_67.txt
data/data/tvg_68.txt
data/data/tvg_69.txt
data/data/tvg_70.txt
data/data/tvg_71.txt
data/data/tvg_72.txt
data/data/tvg_73.txt
data/data/tvg_74.txt
data/data/tvg_75.txt
data/data/tvg_76.txt
data/data/tvg_77.txt
data/data/tvg_78.txt
data/data/tvg_79.txt
data/data/tvg_80.txt
data/data/tvg_81.txt
data/data/tvg_82.txt
data/data/tvg_83.txt
data/data/tvg_84.txt
data/data/tvg_85.txt
data/data/tvg_86.txt
data/data/tvg_87.txt
data/data/tvg_88.txt
data/data/tvg_89.txt
data/data/tvg_90.txt
data/data/tvg_91.txt
data/data/tvg_92.txt
data/data/tvg_93.txt
data/data/tvg_94.txt
data/data/tvg_95.txt
data/data/tvg_96.txt
data/data/tvg_97.txt
data/data/tvg_98.txt
data/data/tvg_99.txt
data/NRC_articles/1970-nrc.tsv
data/NRC_articles/1971-nrc.tsv
data/NRC_articles/1972-nrc.tsv
data/NRC_articles/1973-nrc.tsv
data/NRC_articles/1974-nrc.tsv
data/NRC_articles/1975-nrc.tsv
data/NRC_articles/1976-nrc.tsv
data/NRC_articles/1977-nrc.tsv
data/NRC_articles/1978-nrc.tsv
data/NRC_articles/1979-nrc.tsv
data/NRC_articles/1980-nrc.tsv
data/NRC_articles/1981-nrc.tsv
data/NRC_articles/1982-nrc.tsv
data/NRC_articles/1983-nrc.tsv
data/NRC_articles/1984-nrc.tsv
data/NRC_articles/1985-nrc.tsv
data/NRC_articles/1986-nrc.tsv
data/NRC_articles/1987-nrc.tsv
data/NRC_articles/1988-nrc.tsv
data/NRC_articles/1989-nrc.tsv
data/NRC_articles/1990-nrc.tsv
data/NRC_articles/1991-nrc.tsv
data/NRC_articles/1992-nrc.tsv
data/NRC_articles/1993-nrc.tsv
data/NRC_articles/1994-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1970-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1971-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1972-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1973-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1974-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1975-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1976-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1977-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1978-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1979-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1980-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1981-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1982-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1983-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1984-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1985-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1986-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1987-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1988-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1989-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1990-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1991-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1992-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1993-nrc.tsv
data/NRC_articles/sentences/sentencesarticle_1994-nrc.tsv
data/TVG/tvg.csv
data/VK_articles/vk_articles_1975-44411.tsv
data/VK_articles/vk_articles_1976-45568.tsv
data/VK_articles/vk_articles_1977-54458.tsv
data/VK_articles/vk_articles_1978-55396.tsv
data/VK_articles/vk_articles_1979-52301.tsv
data/VK_articles/vk_articles_1980-48460.tsv
data/VK_articles/vk_articles_1981-47882.tsv
data/VK_articles/vk_articles_1982-49213.tsv
data/VK_articles/vk_articles_1983-31567.tsv
data/VK_articles/vk_articles_1984-57152.tsv
data/VK_articles/vk_articles_1985-60562.tsv
data/VK_articles/Sentences/sentences1975-44411.tsv
data/VK_articles/Sentences/sentences1975-vk.tsv
data/VK_articles/Sentences/sentences1976-45568.tsv
data/VK_articles/Sentences/sentences1977-54458.tsv
data/VK_articles/Sentences/sentences1978-55396.tsv
data/VK_articles/Sentences/sentences1979-52301.tsv
data/VK_articles/Sentences/sentences1980-48460.tsv
data/VK_articles/Sentences/sentences1985-vk.tsv
models/tvg_fasttext
models/tempModels_NRC/1970_1975.w2v
models/tempModels_NRC/1971_1976.w2v
models/tempModels_NRC/1972_1977.w2v
models/tempModels_NRC/1973_1978.w2v
models/tempModels_NRC/1974_1979.w2v
models/tempModels_NRC/1975_1980.w2v
models/tempModels_NRC/1976_1981.w2v
models/tempModels_NRC/1977_1982.w2v
models/tempModels_NRC/1978_1983.w2v
models/tempModels_NRC/1979_1984.w2v
models/tempModels_NRC/1980_1985.w2v
models/tempModels_NRC/1981_1986.w2v
models/tempModels_NRC/1982_1987.w2v
models/tempModels_NRC/1983_1988.w2v
models/tempModels_NRC/1984_1989.w2v
models/tempModels_NRC/1985_1990.w2v
models/tempModels_NRC/1986_1991.w2v
models/tempModels_NRC/1987_1992.w2v
models/tempModels_NRC/1988_1993.w2v
models/tempModels_NRC/1989_1994.w2v
models/tempModels_vk/1940_1941.w2v
models/tempModels_vk/1941_1942.w2v
models/tempModels_vk/1942_1943.w2v
models/tempModels_vk/1943_1944.w2v
models/tempModels_vk/1944_1945.w2v
models/tempModels_vk/1945_1946.w2v
models/tempModels_vk/1946_1947.w2v
models/tempModels_vk/1947_1948.w2v
models/tempModels_vk/1948_1949.w2v
models/tempModels_vk/1949_1950.w2v
models/tempModels_vk/1950_1951.w2v
models/tempModels_vk/1951_1952.w2v
models/tempModels_vk/1952_1953.w2v
models/tempModels_vk/1953_1954.w2v
models/tempModels_vk/1954_1955.w2v
models/tempModels_vk/1955_1956.w2v
models/tempModels_vk/1956_1957.w2v
models/tempModels_vk/1957_1958.w2v
models/tempModels_vk/1958_1959.w2v
models/tempModels_vk/1959_1960.w2v
models/tempModels_vk/1960_1961.w2v
models/tempModels_vk/1961_1962.w2v
models/tempModels_vk/1962_1963.w2v
models/tempModels_vk/1963_1964.w2v
models/tempModels_vk/1964_1965.w2v
models/tempModels_vk/1965_1966.w2v
models/tempModels_vk/1966_1967.w2v
models/tempModels_vk/1967_1968.w2v
models/tempModels_vk/1968_1969.w2v
models/tempModels_vk/1969_1970.w2v
models/tempModels_vk/1970_1971.w2v
models/tempModels_vk/1971_1972.w2v
models/tempModels_vk/1972_1973.w2v
models/tempModels_vk/1973_1974.w2v
models/tempModels_vk/1974_1975.w2v
models/tempModels_vk/1975_1976.w2v
models/tempModels_vk/1976_1977.w2v
models/tempModels_vk/1977_1978.w2v
models/tempModels_vk/1978_1979.w2v
models/tempModels_vk/1979_1980.w2v
models/tempModels_vk/1980_1981.w2v
